

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-color:black;
	color: white;
	font-size: 20px;
}

.blocks {
	width: 250px;
	height: 150px;
}

.messages {
	font-size:30px;
	font-style:bold;
}

#findMoreColors {
	background-color: green;
}

#refresh {
	background-color: orange;
}

#theAnswer {
	width: 200;
	height: 50px;
}














