

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-color:black;
	color: white;
	font-size: 20px;
}

.blocks {
	width: 250px;
	height: 150px;
}

.messages {
	font-size:30px;
	font-style:bold;
}

#findMoreColors {
	background-color: #00CC95;
}

#refresh {
	background-color: #FF00FF;
}

#about {
	background-color: yellow;
	color:white;
}

#about-text  {
	font-size: 30px;
}

#backToTheColor {
	background-color: #FFF900;
	color:white;
}

#theAnswer {
	width: 200;
	height: 50px;
}














